name: Build APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04   # ⚠️ PAS ubuntu-latest !

    steps:
    - uses: actions/checkout@v4

    # ✅ JAVA 17 OBLIGATOIRE POUR ANDROID SDK
    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: '17'

    # ✅ dépendances Linux compatibles buildozer
    - name: Install dependencies
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install -y \
          build-essential \
          git zip unzip \
          python3-pip \
          autoconf libtool pkg-config \
          zlib1g-dev \
          libncurses5:i386 \
          libstdc++6:i386 \
          libffi-dev libssl-dev

    # ✅ installer buildozer
    - name: Install Buildozer
      run: |
        pip install --user --upgrade cython buildozer
        echo "$HOME/.local/bin" >> $GITHUB_PATH

    # ✅ lancer le build
    - name: Build APK
      run: buildozer -v android debug

    # ✅ récupérer APK
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
