name: Build Android APK

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.10

    - name: Install system packages
      run: |
        sudo apt update
        sudo apt install -y zip unzip openjdk-17-jdk python3-pip autoconf libtool pkg-config zlib1g-dev libncurses5-dev libncursesw5-dev libtinfo5 cmake libffi-dev libssl-dev

    - name: Install Buildozer
      run: |
        pip install buildozer cython

    # ⭐⭐⭐ LA STEP QUI MANQUAIT ⭐⭐⭐
    - name: Accept Android licenses
      run: |
        mkdir -p $HOME/.android
        touch $HOME/.android/repositories.cfg
        yes | sdkmanager --licenses || true

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: game-apk
        path: bin/*.apk
