name: Build APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04

    env:
      ANDROID_HOME: ""
      ANDROID_SDK_ROOT: ""
      ANDROID_NDK_HOME: ""
      ANDROID_NDK_ROOT: ""

    steps:
    - uses: actions/checkout@v4

    - name: Set up Java 17
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: 17

    - name: Install deps
      run: |
        sudo apt-get update
        sudo apt-get install -y \
          git zip unzip python3-pip autoconf libtool \
          pkg-config zlib1g-dev libncurses-dev \
          libncurses6 libtinfo6 cmake libffi-dev \
          libssl-dev build-essential

        sudo ln -s /usr/lib/x86_64-linux-gnu/libtinfo.so.6 /usr/lib/x86_64-linux-gnu/libtinfo.so.5

    - name: Install buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Cache buildozer
      uses: actions/cache@v4
      with:
        path: |
          ~/.buildozer
          .buildozer
        key: buildozer-${{ runner.os }}

    - name: Accept Android licenses
      run: |
        mkdir -p ~/.buildozer/android/platform/android-sdk/licenses
        echo "8933bad161af4178b1185d1a37fbf41ea5269c55" > ~/.buildozer/android/platform/android-sdk/licenses/android-sdk-license
        echo "d56f5187479451eabf01fb78af6dfcb131a6481e" >> ~/.buildozer/android/platform/android-sdk/licenses/android-sdk-license

    - name: Build APK
      run: buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: APK
        path: bin/*.apk
