name: Build Android APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    - name: Install system dependencies
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install -y \
          python3-pip \
          build-essential \
          git \
          zip \
          unzip \
          openjdk-17-jdk \
          libffi-dev \
          libssl-dev \
          zlib1g-dev \
          libncurses6:i386 \
          libstdc++6:i386 \
          libz1:i386 \
          libbz2-1.0:i386

    - name: Set JAVA_HOME
      run: echo "JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64" >> $GITHUB_ENV

    - name: Install Python dependencies
      run: |
        python3 -m pip install --upgrade pip
        pip install -r requirements.txt

    - name: Build APK with Buildozer
      run: |
        buildozer android debug
          
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: MiniBrawl-APK
        path: bin/*.apk
