name: Build APK

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
        build-essential \
        git zip unzip \
        openjdk-17-jdk \
        python3-pip \
        autoconf libtool pkg-config \
        zlib1g-dev libncurses5-dev \
        cmake libffi-dev libssl-dev

    - name: Install Buildozer
      run: |
        pip install --upgrade pip
        pip install buildozer cython
        
    - name: Accept Android licenses
      run: |
        mkdir -p $HOME/.android
        touch $HOME/.android/repositories.cfg
        yes | sdkmanager --licenses || true

    - name: Build APK
      run: buildozer -v android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: apk
        path: bin/*.apk
