name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v3

    # Python correct (très important)
    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    # Installer Java 17 (obligatoire pour sdkmanager)
    - name: Set up Java
      uses: actions/setup-java@v3
      with:
        distribution: "temurin"
        java-version: "17"

    # Installer dépendances Linux pour Buildozer
    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y zip unzip openjdk-17-jdk \
        autoconf libtool pkg-config zlib1g-dev \
        libncurses5-dev libncursesw5-dev libtinfo5 \
        cmake libffi-dev libssl-dev

    # Installer Buildozer + Cython
    - name: Install Buildozer
      run: |
        python -m pip install --upgrade pip
        pip install buildozer cython

    # ⭐ ACCEPTER LES LICENCES ANDROID DU SDK BUILDOZER
    - name: Accept Android licenses
      run: |
        mkdir -p ~/.buildozer/android/platform/android-sdk
        yes | ~/.buildozer/android/platform/android-sdk/tools/bin/sdkmanager --licenses || true

    # ⭐ BUILD APK
    - name: Build APK
      run: |
        buildozer android debug

    # ⭐ UPLOAD APK (le fichier que tu installeras)
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: APK
        path: bin/*.apk
