name: Build APK

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4

    - name: Install packages
      run: |
        sudo apt update
        sudo apt install -y \
        build-essential git zip unzip openjdk-17-jdk \
        python3-pip autoconf libtool pkg-config \
        zlib1g-dev libncurses-dev \
        cmake libffi-dev libssl-dev

    - name: Install Python deps
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    - name: Accept licenses
      run: |
        mkdir -p ~/.android
        echo "24333f8a63b6825ea9c5514f83c2829b004d1fee" > ~/.android/repositories.cfg || true

    - name: Build APK
      run: |
        buildozer android debug

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: APK
        path: bin/*.apk
