name: Build APK

on:
  push:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Install system dependencies
      run: |
        sudo apt update
        sudo apt install -y \
        build-essential \
        git zip unzip \
        openjdk-17-jdk \
        python3-pip \
        autoconf libtool pkg-config \
        zlib1g-dev libncurses5-dev \
        libncursesw5-dev libtinfo5 \
        cmake libffi-dev libssl-dev
