name: Build Android APK

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    # Installer Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: "3.10"

    # Installer Java 17 (OBLIGATOIRE)
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: '17'

    # Installer dépendances Linux nécessaires à Buildozer
    - name: Install system dependencies
      run: |
        sudo dpkg --add-architecture i386
        sudo apt update
        sudo apt install -y \
          build-essential \
          git \
          zip \
          unzip \
          openjdk-17-jdk \
          python3-pip \
          autoconf \
          libtool \
          pkg-config \
          zlib1g-dev \
          libncurses5:i386 \
          libstdc++6:i386 \
          libffi-dev \
          libssl-dev \
          libsqlite3-dev \
          libjpeg-dev \
          libpng-dev

    # Installer Buildozer + python-for-android compatibles
    - name: Install Buildozer & python-for-android
      run: |
        pip install --upgrade pip
        pip install Cython==0.29.33
        pip install buildozer==1.5.0
        pip install python-for-android==2023.9.16

    # Lancer le build APK
    - name: Build with Buildozer
      run: |
        buildozer android debug

    # Récupérer l'APK généré
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: my-kivy-apk
        path: bin/*.apk
