name: Build APK

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
    - name: Checkout repo
      uses: actions/checkout@v4

    # Java 17 obligatoire pour sdkmanager
    - name: Setup Java
      uses: actions/setup-java@v4
      with:
        distribution: temurin
        java-version: "17"

    - name: Install system packages
      run: |
        sudo apt update
        sudo apt install -y python3-pip build-essential \
        git zip unzip openjdk-17-jdk \
        autoconf libtool pkg-config zlib1g-dev \
        libncurses5-dev libncursesw5-dev libtinfo6 \
        cmake libffi-dev libssl-dev

    - name: Install Buildozer & Cython
      run: |
        pip install --upgrade pip
        pip install buildozer cython

    # INSTALL ANDROID SDK CORRECTLY
    - name: Install Android SDK
      run: |
        mkdir -p $HOME/android-sdk/cmdline-tools
        cd $HOME/android-sdk/cmdline-tools

        wget https://dl.google.com/android/repository/commandlinetools-linux-11076708_latest.zip -O sdk.zip
        unzip sdk.zip
        mv cmdline-tools latest

        echo "ANDROID_HOME=$HOME/android-sdk" >> $GITHUB_ENV
        echo "ANDROID_SDK_ROOT=$HOME/android-sdk" >> $GITHUB_ENV
        echo "$HOME/android-sdk/cmdline-tools/latest/bin" >> $GITHUB_PATH
        echo "$HOME/android-sdk/platform-tools" >> $GITHUB_PATH

    - name: Accept licenses & install SDK packages
      run: |
        yes | sdkmanager --licenses
        sdkmanager "platform-tools"
        sdkmanager "platforms;android-33"
        sdkmanager "build-tools;33.0.2"

    # BUILD APK (IMPORTANT : DEBUG APK PAS AAB)
    - name: Build APK with Buildozer
      run: |
        buildozer android debug

    # UPLOAD APK
    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: APK
        path: bin/*.apk
